/* element selectors */
/* h1 {
    background-color: rgb(68, 10, 36) !important;
    text-align: end;
    color: white !important;
}
p{
    font-style: italic;
    font-size: large;
}
ol{
    color: chartreuse;
}
body{
    background-color: black;
} */

/* class selector */
.h1_bg_blue{
    background-color: blue;
}
.h1_bg_greenYellow{
    background-color: greenyellow;
}

/* id selectors */
#paragraph_bc{
    background-color: black;
    color: white;
}

/* universal selectors */
*{
    background-color: black;
    margin: 0;
    padding: 0;
}
